.container-dashboard{
    width: 100vw;
    height: 100vh;
    background: #ededed;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container-dashboard aside{
    position: fixed;
    width: 100px;
    height: 100%;
    background: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container-dashboard aside p{
    margin-top: 20px;
    color: var(--secondary);
    font-size: 35px;
}


.container-dashboard aside .main-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container-dashboard aside .main-buttons button{
    background: none;
    border: none;

    cursor: pointer;

}

.container-dashboard aside .main-buttons button {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-dashboard aside button {
    background: none;
    border: none;

    cursor: pointer;

    margin-bottom: 20px;
}

.container-dashboard .other-side{
    width: 92.7%;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.container-dashboard .other-side .main-header{
    margin-top: 20px;
    width: 90%;
    border-bottom: 1px solid #a9a9a9;
    padding-bottom: 15px;
}

.container-dashboard .other-side .mobile-header{
    display: none;
}

.container-dashboard .other-side header p{
    color: #000000;
    font-size: 40px;
    text-align: center;
}


.container-dashboard .other-side .content-area{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.container-dashboard .other-side .content-area .status-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-top: 60px;
    width: 40%;
    height: 100%;
    padding-right: 35px;

    border-right: 1px solid #a9a9a9;
}

.container-dashboard .other-side .content-area .status-side p{
    color: #000000;
    font-size: 36px;
}

.container-dashboard .other-side .content-area .status-side .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-dashboard .other-side .content-area .status-side .top .earns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 150px;
}

.container-dashboard .other-side .content-area .status-side .top .earns span{
    color: #38D618;
    font-size: 36px;
    margin-top: 15px;
}

.container-dashboard .other-side .content-area .status-side .top .costs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-dashboard .other-side .content-area .status-side .top .costs span{
    color: #ff002f;
    font-size: 36px;
    margin-top: 15px;
}

.container-dashboard .other-side .content-area .status-side .bottom{
    margin-top: 70px;
}

.container-dashboard .other-side .content-area .status-side .bottom .final{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-dashboard .other-side .content-area .status-side .bottom .final span{
    margin-top: 15px;
    font-size: 64px;
    color: #595959;
    background: #EDF7F6;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid var(--primary)
}


.container-dashboard .other-side .content-area .debts-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-left: 15px;
    width: 50%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 480px;
}

.container-dashboard .other-side .content-area .debts-side::-webkit-scrollbar{
    width: 5px;
    background: #d7dee0;
    border-radius: 20px;
    opacity: 0.4;
    transition: 0.5s;
}

.container-dashboard .other-side .content-area .debts-side::-webkit-scrollbar:hover{
    background: #cbcfd1;
    opacity: 1;
}

.container-dashboard .other-side .content-area .debts-side::-webkit-scrollbar-thumb{
    background: #986feb;
    border-radius: 30px;
    opacity: 0.1;
    transition: 0.5s;
}

.container-dashboard .other-side .content-area .debts-side::-webkit-scrollbar-thumb:hover{
    background: var(--primary); 
}


.container-dashboard .other-side .content-area .debts-side p{
    font-size: 36px;
    color: #000000;
    margin-bottom: 20px;
}

.container-dashboard .other-side .content-area .debts-side .debt-card1{
    width: 90%;
    height: 120px;
    background: #EDF7F6;
    border-radius: 20px;
    border: 1px solid var(--primary);
    display: flex;
}

.container-dashboard .other-side .content-area .debts-side .debt-card1 .ilustration-part{
    background: #226dc9;
    width: 25%;
    border-radius: 20px;
    border-right: 1px solid var(--primary);

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 40px;
}

.container-dashboard .other-side .content-area .debts-side .debt-card1 .information header{
    font-size: 36px;
    color: #000000;
    text-align: center;
    margin-left: 30px;
    margin-top: 10px;
}

.container-dashboard .other-side .content-area .debts-side .debt-card1 .information p{
    font-size: 24px;
    margin-top: 13px;

}

.container-dashboard .other-side .content-area .debts-side .debt-card1 .information strong{
    font-size: 3.4rem;
    color: #ff002f;
    margin-left: 15px;

}


.container-dashboard .other-side .content-area .debts-side .debt-card2{
    margin-top: 20px;
    width: 90%;
    height: 120px;
    background: #EDF7F6;
    border-radius: 20px;
    border: 1px solid var(--primary);
    display: flex;
}

.container-dashboard .other-side .content-area .debts-side .debt-card2 .ilustration-part{
    background: #f7ec20;
    width: 25%;
    border-radius: 20px;
    border-right: 1px solid var(--primary);

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 40px;
}

.container-dashboard .other-side .content-area .debts-side .debt-card2 .information header{
    font-size: 36px;
    color: #000000;
    text-align: center;
    margin-left: 30px;
    margin-top: 10px;
}

.container-dashboard .other-side .content-area .debts-side .debt-card2 .information p{
    font-size: 24px;
    margin-top: 13px;

}

.container-dashboard .other-side .content-area .debts-side .debt-card2 .information strong{
    font-size: 54px;
    color: #ff002f;
    margin-left: 15px;

}

.container-dashboard .other-side .content-area .debts-side .debt-card3{
    margin-top: 20px;
    width: 90%;
    height: 120px;
    background: #EDF7F6;
    border-radius: 20px;
    border: 1px solid var(--primary);
    display: flex;
}

.container-dashboard .other-side .content-area .debts-side .debt-card3 .ilustration-part{
    background: #06b35f;
    width: 25%;
    border-radius: 20px;
    border-right: 1px solid var(--primary);

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 40px;
}

.container-dashboard .other-side .content-area .debts-side .debt-card3 .information header{
    font-size: 36px;
    color: #000000;
    text-align: center;
    margin-left: 30px;
    margin-top: 10px;
}

.container-dashboard .other-side .content-area .debts-side .debt-card3 .information p{
    font-size: 24px;
    margin-top: 13px;

}

.container-dashboard .other-side .content-area .debts-side .debt-card3 .information strong{
    font-size: 54px;
    color: #ff002f;
    margin-left: 15px;

}

@media(max-width: 400px){
    .container-dashboard .other-side .content-area .status-side .top .earns{
        margin-left: 2%;
    }

    .container-dashboard .other-side .content-area .debts-side {
        margin-right: 15%;
    }

    
}


@media(max-width: 700px){
   
    @keyframes aparece{
        from {
            opacity: 0;
            transform:  translateY(-100px);
        }to{
            opacity: 0.9;
            transform:  translateY(0px);
        }
    }

    @keyframes desaparece{
        from {
            opacity: 0.9;
            transform:  translateY(0px);
        }to{
            opacity: 0;
            transform:  translateY(-100px);
        }
    }

    @keyframes aparece-menu{
        from {
            opacity: 0;
            transform: scale(0.1) rotate(-90deg);
        }to{
            opacity: 1;
            transform: scale(1) rotate(0deg);
        }
    }

    @keyframes desaparece-menu{
        from {
            opacity: 0;
            transform: scale(0.1) rotate(0deg);
        }to{
            opacity: 1;
            transform: scale(1) rotate(-90deg);
        }
    }
    

    .container-dashboard aside{
        display: none;
    }

    .nav-menu::before{
        animation-name: desaparece;
        animation-duration: 1s;
    }

    .nav-menu{
        visibility: hidden;
    }

    .nav-menu-active{
        display: absolute;
        z-index: 2;

        width: 100%;
        height: 20%;

        background: var(--primary);
        opacity: 0.9;

        margin-left: 0;
        margin-top: -10px;

        animation-name: aparece;
        animation-duration: 1s;

        border-radius: 0 0 20px 70px;
    }

    .nav-menu-active .nav-menu-items .nav-toggle{
        border-bottom: 1px solid #a9a9a9;
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 10px 0;
        
    }

    .nav-menu-active .nav-menu-items .out-item{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: -5px;
        padding-bottom: 10px;
    }   
    
    .nav-menu-active .nav-menu-items .nav-toggle .menu-bars{
        margin-left: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }

    .nav-menu-active .nav-menu-items .nav-toggle .menu-bars .text{
        font-size: 30px;
        color: #fefefe;
        margin-left: 10px;
    }

    #hamburguer{
        display: none;
    }

    #x-button{
        display: none;
    }

    #hamburguer-active{
        display: inline;
        animation-name: aparece-menu;
        animation-duration: 1s;
    }

    #x-button-active{
        display: inline;
        animation-name: desaparece-menu;
        animation-duration: 1s;
    }

    








    
    .container-dashboard .other-side{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .container-dashboard .other-side .main-header{
        display: none;
    }
    
    .container-dashboard .other-side .mobile-header{
        display: inline;
        width: 100%;
        height: 100px;
        margin-top: 0px;
        margin-left: -200px;
        background: var(--primary);
    }

    .container-dashboard .other-side .mobile-header .content{
        display: relative;
    }
    .container-dashboard .other-side .mobile-header .content .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4.7%;
    }

    .container-dashboard .other-side .mobile-header .content .title{
        font-size: 48px;
        color: var(--secondary);
        margin-left: 20px;
        margin-top: 20px;
    }

    .container-dashboard .other-side .mobile-header .content button{
        background: none;
        border: none;
        margin-right: 20px;
        margin-top: 20px;

        cursor: pointer;
    }

    .container-dashboard .other-side .content-area{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: -37%;
    }
    .container-dashboard .other-side .content-area .status-side{
        width: 100%;
        height: 30px;
        margin-top: 0px;
        margin-left: -9%;
        display: flex;
        flex-direction: row;  
        border: none;
        align-items: center;
        justify-content: center;

        border-bottom: 1px solid #a9a9a9;
        padding-bottom: 10px;
        
    }
    
    .container-dashboard .other-side .content-area .status-side p{
        color: #000000;
        font-size: 16px;
    }
    
    .container-dashboard .other-side .content-area .status-side .top{
        width: 100%;
    }
    
    .container-dashboard .other-side .content-area .status-side .top .earns{
        flex-direction: row;
        margin-right: 15px;
        align-items: center;
        justify-content: center;
        margin-left: 9%;
    }
    
    .container-dashboard .other-side .content-area .status-side .top .earns span{
        color: #38D618;
        font-size: 1.3rem;
        margin-top: 0px;
        margin-left: 5px;
    }

    .container-dashboard .other-side .content-area .status-side .top .costs{
        margin-right: 2%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .container-dashboard .other-side .content-area .status-side .top .costs span{
        color: #ff002f;
        font-size: 1.3rem;
        margin-top: 0;
        margin-left: 5px;
    }
    
    .container-dashboard .other-side .content-area .status-side .bottom{
        display: none;
    }

    .container-dashboard .other-side .content-area .debts-side {
        margin-top: 0;
        width: 100%;
        height: 470px;
        margin-left: 0;
    }

    .container-dashboard .other-side .content-area .debts-side .debt-card1 .information header{
        margin-left: -20px;
    }

    .container-dashboard .other-side .content-area .debts-side .debt-card2 .information header{
        margin-left: -20px;

    }

    .container-dashboard .other-side .content-area .debts-side .debt-card3 .information header{
        margin-left: -20px;

    }

    .container-dashboard .other-side .content-area .debts-side .debt-card1 .information strong{
        font-size: 2rem;
    }

    .container-dashboard .other-side .content-area .debts-side .debt-card2 .information strong{
        font-size: 2rem;

    }

    .container-dashboard .other-side .content-area .debts-side .debt-card3 .information strong{
        font-size: 2rem;

    }   

    .container-dashboard .other-side .content-area .debts-side  .information p{
        margin-left: -20px;
    
    }

}
@media(max-width: 300px){

    .container-dashboard .other-side .content-area .status-side .top .earns{
        margin-left: 2%;
    }
    .container-dashboard .other-side .content-area .debts-side{
        margin-left: -50px;
    }

    .container-dashboard .other-side .content-area .debts-side .debt-card1 .information header{
        margin-left: -20px;
        font-size: 1.8rem;
    }

    .container-dashboard .other-side .content-area .debts-side .debt-card2 .information header{
        margin-left: -20px;
        font-size: 1.8rem;

    }

    .container-dashboard .other-side .content-area .debts-side .debt-card3 .information header{
        margin-left: -20px;
        font-size: 1.8rem;

    }

    .container-dashboard .other-side .content-area .debts-side .debt-card1 .information strong{
        font-size: 1.6rem;
    }

    .container-dashboard .other-side .content-area .debts-side .debt-card2 .information strong{
        font-size: 1.6rem;

    }

    .container-dashboard .other-side .content-area .debts-side .debt-card3 .information strong{
        font-size: 1.6rem;

    }   

    .container-dashboard .other-side .content-area .debts-side  .information p{
        margin-left: -20px;
    
    }
}

@media(max-width: 1100px){
    .container-dashboard .other-side .content-area .status-side .top .earns{
        margin-right: 0px;
    }

    .container-dashboard .other-side .content-area .debts-side .debt-card1 .information strong{
        font-size: 1.2rem;
    }

    .container-dashboard .other-side .content-area .debts-side .debt-card2 .information strong{
        font-size: 1.2rem;

    }

    .container-dashboard .other-side .content-area .debts-side .debt-card3 .information strong{
        font-size: 1.2rem;

    } 
}